<header id="header">
  <div class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-sm-8 currency"> 
            
            <!-- currency -->
            <div class="tile_currency"> 
              {% if settings.show_multiple_currencies %}
                {% include 'snippet-currencies-switcher' %}
              {% endif %} 
            </div>
            <div class="phone hidden-xs"> 
              {% if settings.header_msg_wholesale != blank %} 
                <span>{{ settings.header_msg_wholesale }} </span> 
              {% endif %}
            </div>
          </div>
          <div class="col-xs-4 col-sm-4">
            <div class="toplinks">
              <div class="links"> 
                {% if settings.display_account_link %}
                  {% if settings.display_account_link != blank %}
                    <div class="myaccount">
                      {% if shop.customer_accounts_enabled %}
                        {% if customer %} 
                          <a href="/account"><span>Account</span></a> 
                        {% else %} 
                          <a href="/account/login"><span>Account</span></a> 
                        {% endif %}
                      {% endif %} 
                    </div>
                  {% endif %}
                {% endif %}
                
                {% if settings.display_wishlist_link %}
                  {% if settings.display_wishlist_link != blank %}
                    <div class="wishlist"> 
                      {% if customer %} 
                        <a href="/pages/wishlist"><span>Wishlist</span></a> 
                      {% else %} 
                        <a href="/account/login"><span>Wishlist</span></a> 
                      {% endif %} 
                    </div>
                  {% endif %}
                {% endif %}
                
                
                {% if settings.display_login_link %}
                  {% if settings.display_login_link != blank %}
                    <div class="login"> 
                      {% if shop.customer_accounts_enabled %}
                        {% if customer %}
                          {{ '<span>Log out</span>' | customer_logout_link }}
                        {% else %}
                          {{ "<span>Login</span>" | customer_login_link }} <span>or</span> {{ "<span>Register</span>" | customer_register_link }} 
                        {% endif %}
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
              </div>
              <!-- links --> 
            </div>
            <!--toplinks--> 
          </div>
        </div>
      </div>
      <!--inner--> 
    </div>
    <div id="top-bar" class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-block"> 
          <!-- Header Logo --> 
          <a id="logo" href="/"> <img style="width:144px;height:144px;margin-top:-40px;" src="{{ 'logo_green_ptwholesale.png' | asset_img_url: '2667x2667' }}" /> </a>
          <!-- End Header Logo --> 
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 search-block">
        <!-- Search section --> 
          <div class="search-section"> 
            {% if settings.display_search %}
              {% if settings.display_search != blank %}
                <div id="search-container" class="tile_search trs_bg"> 
                  <!-- search form -->
                  <form id="search_top" class="search-form" action="/search" method="get">
                    <input id="search-field" type="text" name="q" placeholder="{{ settings.search_placeholder }}" />
                    <button type="submit" title="Search" class="search-btn-bg" id="submit-button" onclick="javascript:document.getElementById('search_top').submit();"><span class="glyphicon glyphicon-search"></span></button>
                  </form>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mgk-top-cart"> 
          <div class="top-cart-contain center"> 
              <script>
                /*  sticky header  */
                jQuery(window).scroll(function() {
                  jQuery(this).scrollTop() > 175 ? jQuery(".top-cart-contain").addClass("sticky-topcart") : jQuery(".top-cart-contain").removeClass("sticky-topcart")
                });
              </script> 

              <div class="col-lg-2">    
              </div>

              <div class="col-lg-3 col-sm-5"> 
              <div class="qoutation-sign">
                   <i class="fa fa-shopping-cart"></i> 
                   <a href="/pages/request-for-quote"> Quotation </a> 
                </div>
              </div>

              <div class="col-lg-2 col-sm-1">    
              </div>

              <div class="col-lg-4 col-sm-5"> 

              <div class="qoutation-sign"> 
                   <a href="/pages/quotes-history""> Quotation History </a> 
                </div>
              </div>

              <div class="col-lg-1 col-sm-1">    
              </div>

          </div>      
        </div>
        {% comment %}
        <!-- Account -->
        <div class="wishlist"> {% if customer %} <a href="/account/login"><i class="fa fa-user"></i></a> {% else %} <a href="/account/login"><i class="fa fa-user"></i></a> {% endif %} </div>
        	
        <!-- Location -->
        <div class="wishlist"> {% if customer %} <a href="/account/login"><i class="fa fa-user"></i></a> {% else %} <a href="/account/login"><i class="fa fa-map-marker"></i></a> {% endif %} </div>
        {% endcomment %}
      </div>
    </div>
  </div>

	<!-- Navigation --> 
	{% if settings.main_nav != '' %}
    {% include 'mmenu-wholesale' %}
	  {% if settings.show_sticky_menu %}
      <div id="navigation"> 
        <script>
  				/*  sticky header  */
  				jQuery(window).scroll(function() {
  					if (jQuery(this).scrollTop() > 175) {
  						jQuery("#navigation").addClass("sticky-header");
              jQuery("#navigation-2").addClass("margin-top-40px");
              jQuery(".site-nav-dropdown").addClass("margin-top-3px");
  						jQuery("#sticky-topbar").show();
  					} else {
  						jQuery("#navigation").removeClass("sticky-header");
              jQuery("#navigation-2").removeClass("margin-top-40px");
              jQuery(".site-nav-dropdown").removeClass("margin-top-3px");
  						jQuery("#sticky-topbar").hide();
  					}
  				});
				</script>
    {% else %}
      <div id="navigation">  
    {% endif %}
    <div id="navigation-2"><nav> {% include 'main-nav' %} </nav></div>
	{% endif %} 

	<!-- Sticky Top Bar -->
	{% include 'sticky-topbar-wholesale' %}
</header>
  
<script>  
jQuery(document).ready(function() {


 

 

  autosize(document.querySelectorAll('textarea'));
  document.getElementById("cart-note").rows = "1";

  var shopCurrency = '{{ shop.currency }}'; 
     
  window.show_multiple_currencies = '{{ settings.show_multiple_currencies }}';
	jQuery("ul.dropdown li").has("ul.dropdown").find('>span').click(function(e) {
		if (!jQuery(".visible-phone").is(":visible")) {
			e.preventDefault();
			var currentParentMenu = jQuery(this).parents(".parent-mega-menu");
			var subMegaMenu = jQuery(this).parents(".row").find(".sub-mega-menu");
			var parentLink = jQuery(this).prev();
			var grandParentLink = jQuery(this).parents(".inner").find(">a");
			subMegaMenu.find(".inner").html(jQuery(this).next().clone());
			subMegaMenu.find(".parent-link a:eq(0)").attr("href", grandParentLink.attr("href")).text(grandParentLink.text());
			subMegaMenu.find(".parent-link a:eq(1)").attr("href", parentLink.attr("href")).text(parentLink.text());
			subMegaMenu.find(".parent-link span.up").click(function() {
				subMegaMenu.slideUp();
				currentParentMenu.slideDown();
			});
			currentParentMenu.slideUp();
			subMegaMenu.slideDown();
		}
	});
});


		e(document).ready(function() {
			t.init();
		});
		var t = {
			elantraTimeout: null,
			init: function() {
				this.initDropDownCart();
        this.initAddToCart();
        this.initModal();
        this.initProductAddToCart();
        this.updateDropdownCart();
			},
			showModal: function(n) {
				e(n).fadeIn(500);
				t.elantraTimeout = setTimeout(function() {
					e(n).fadeOut(500)
				}, 5e3)
			},
      checkSpentAmount: function(n) {
        // hide spend notification/disable checkout button
        if ($('#wholesale-date').val() != "") {
          $("#dropdown-cart").find('.btn').removeAttr('disabled');
          $("#mobile-cart").find('.btn-checkout-mobile').removeAttr('disabled'); 
        } else {
          $("#dropdown-cart").find('.btn').attr('disabled', 'disabled');
          $("#mobile-cart").find('.btn-checkout-mobile').attr('disabled', 'disabled');
        }

        e(".spend-notification").hide();
        
        if ($("#sticky-cart").find('.mm-panels').hasClass("no-spend-notification")) { 
        } else {
          $("#sticky-cart").find('.mm-panels').addClass("no-spend-notification");
        } 

        if ($("#sticky-cart").find('.mm-panels').hasClass("has-spend-notification")) {
          $("#sticky-cart").find('.mm-panels').removeClass("has-spend-notification");
        }

        if (n.total_price == 0) {
          return;
        }

        {% if settings.order_minimum_wholesale != blank %}
          // show spend notification if total price less than order minimum
          var order_minimum = {{ settings.order_minimum_wholesale | times: 100 }};
  				if (n.total_price < order_minimum) {
  					$("#dropdown-cart").find('.btn').attr('disabled', 'disabled');
            $("#mobile-cart").find('.btn-checkout-mobile').attr('disabled', 'disabled');

          	var remaining_amount = parseFloat(order_minimum) - parseFloat(n.total_price);
          	var amount = Shopify.formatMoney(remaining_amount, window.formatMoney);
          	var order_minimum = Shopify.formatMoney(order_minimum ,window.formatMoney);
          	var spend_text = '<p class="spend-notification-text">Spend <span class="remaining-amount money">' +  amount + '</span> more to reach the order minimum of <span class ="order-minimum money">' +  order_minimum + '</span></p>';
          	e(".spend-notification").html(spend_text);
          	e(".spend-notification").show();

          	if ($("#sticky-cart").find('.spend-notification').length == 0 ) {
          		$("#sticky-cart").find('.mm-navbar').after('<div class="spend-notification">' + spend_text + '</div>');
         		}   	

         		if ($("#sticky-cart").find('.mm-panels').hasClass("has-spend-notification")) {
         		} else {
         			$("#sticky-cart").find('.mm-panels').addClass("has-spend-notification");
         		}

         		if ($("#sticky-cart").find('.mm-panels').hasClass("no-spend-notification")) {
         			$("#sticky-cart").find('.mm-panels').removeClass("no-spend-notification");
         		}
    	    }

          //t.applySpendRules(n);

        {% endif %}
			},
      applySpendRules: function(n) {
        // spend rules
        {% assign tier_1_linklist = linklists[settings.tier_1_linklist_handle] %} 
        {% assign tier_2_linklist = linklists[settings.tier_2_linklist_handle] %} 
        {% assign tier_3_linklist = linklists[settings.tier_3_linklist_handle] %} 

        {% if settings.enable_spend_rules == true and settings.order_minimum_wholesale != blank %}

          // Tier 1
          {% if tier_1_linklist.links.size > 0  and settings.tier_1_target_amount != blank and settings.tier_1_text != blank %}
            
            t.applyTier(1, {{ settings.order_minimum_wholesale }}, {{ settings.tier_1_target_amount }}, '{{ settings.tier_1_text }}', n);

          {% endif %}

          // Tier 2
          {% if settings.tier_1_target_amount != blank and tier_2_linklist.links.size > 0  and settings.tier_2_target_amount != blank and settings.tier_2_text != blank %}
            
            t.applyTier(2, {{ settings.tier_1_target_amount }}, {{ settings.tier_2_target_amount }}, '{{ settings.tier_2_text }}', n);

          {% endif %}

          // Tier 3
          {% if settings.tier_2_target_amount != blank and tier_3_linklist.links.size > 0  and settings.tier_3_target_amount != blank and settings.tier_3_text != blank %}
            
            t.applyTier(3, {{ settings.tier_2_target_amount }}, {{ settings.tier_3_target_amount }}, '{{ settings.tier_3_text }}', n);

          {% endif %}

        {% endif %}
      },
      applyTier: function(tier_number, lower_tier_amt, upper_tier_amt, free_product_text, n) {
        var lower_tier_amount = parseFloat(lower_tier_amt).toFixed(2);
        var upper_tier_amount = parseFloat(upper_tier_amt).toFixed(2);       
        var total_price = parseFloat(n.total_price / 100).toFixed(2);

       

        // add/remove free product
        var product_id = 0;

        if (tier_number == 1) {
          {% if tier_1_linklist.links.first.object.variants.first.id != blank %}
            product_id = {{ tier_1_linklist.links.first.object.variants.first.id }};
          {% endif %}
        } else if (tier_number == 2) {
          {% if tier_2_linklist.links.first.object.variants.first.id != blank %}
            product_id = {{ tier_2_linklist.links.first.object.variants.first.id }};
          {% endif %}
        } else if (tier_number == 3) {
          {% if tier_3_linklist.links.first.object.variants.first.id != blank %}
            product_id = {{ tier_3_linklist.links.first.object.variants.first.id }};
          {% endif %}
        }
        
        var pleaseAdd = false;
        var pleaseRemove = false;
        var idsInCart = [];

        if (product_id && product_id != -1 && pleaseAdd && (jQuery.inArray(product_id, n) === -1) && (jQuery.inArray(product_id, idsInCart) === -1)) {
          var params = {
              type: 'POST',
              url: '/cart/update.js',
              data: 'updates[' + product_id + ']=1',
              dataType: 'json',
              success: function(line_item) {
                t.updateDropdownCart();
              }
          };
          jQuery.ajax(params);
        } else if (pleaseRemove) {
          var params = {
              type: 'POST',
              url: '/cart/update.js',
              data: 'updates[' + product_id + ']=0',
              dataType: 'json',
              success: function(line_item) {
                t.updateDropdownCart();
              }
          };
          jQuery.ajax(params);
        }
      },
			checkItemsInDropdownCart: function() {
				if (e("#dropdown-cart .mini-products-list").children().length > 0) {    
          e("#dropdown-cart .no-items").hide();
          e("#dropdown-cart .has-items").show();
        } else {
          e("#dropdown-cart .has-items").hide();
          e("#dropdown-cart .no-items").show();
        }

        if (e("#mobile-cart .mini-products-list").children().length > 0) {
          e("#mobile-cart .no-items").hide();
          e("#mobile-cart .has-items").show();
          e("#sticky-cart-button .notification-badge").show();
        } else {
          e("#mobile-cart .has-items").hide()
          e("#sticky-cart-button .notification-badge").hide();;
          e("#mobile-cart .no-items").show();
        }
			},
			initModal: function() {
				e(".continue-shopping").click(function() {
					clearTimeout(t.elantraTimeout);
					e(".ajax-success-modal").fadeOut(500)
				});
				e(".close-modal, .overlay").click(function() {
					clearTimeout(t.elantraTimeout);
					e(".ajax-success-modal").fadeOut(500)
				})
			},
			initDropDownCart: function() {
				// if (window.dropdowncart_type == "click") {
				// 	e("#cartToggle").click(function() {
				// 		if (e("#dropdown-cart").is(":visible")) {
				// 			e("#dropdown-cart").slideUp("fast")
				// 		} else {
				// 			e("#dropdown-cart").slideDown("fast")
				// 		}
				// 	})
				// } else {
				// 	if (!("ontouchstart" in document)) {
				// 		e("#cartToggle").hover(function() {
				// 			if (!e("#dropdown-cart").is(":visible")) {
				// 				e("#dropdown-cart").slideDown("fast")
				// 			}
				// 		});
				// 		e(".wrapper-top-cart").mouseleave(function() {
				// 			e("#dropdown-cart").slideUp("fast")
				// 		})
				// 	} else {
				// 		e("#cartToggle").click(function() {
				// 			if (e("#dropdown-cart").is(":visible")) {
				// 				e("#dropdown-cart").slideUp("fast")
				// 			} else {
				// 				e("#dropdown-cart").slideDown("fast")
				// 			}
				// 		})
				// 	}
				// }
        e("#cartToggle").click(function() {
          e("#dropdown-cart").toggle();
        });
				t.checkItemsInDropdownCart();
				e("#dropdown-cart .no-items a").click(function() {
					e("#dropdown-cart").slideUp("fast")
				});
				e("#dropdown-cart a.btn-remove").live("click", function(n) {
					n.preventDefault();
					var r = e(this).parents(".item").attr("id");
					r = r.match(/\d+/g);
					
					var prod_id = e(this).parent().attr("id");
					prod_id = prod_id.match(/\d+/g);

					Shopify.removeItem(r, function(x) {
						t.doUpdateDropdownCart(x);	

						var x = document.getElementsByClassName("product-actions-" + prod_id);
					   if (x.length > 0) {
					   		$(".product-actions-" + prod_id).find('#quantity').val(1);
					   		$(".product-actions-" + prod_id).find('.cart-buttons').hide();
					  		$(".product-actions-" + prod_id).find('.single-add-to-cart-button').show();
					   }	

            // Update line item details in product page
            var line_quantity = e(".product-actions-" + prod_id).find("#line-quantity");                            
            if (line_quantity.length > 0) {
              line_quantity[0].innerHTML = 0;
            }
			
					})  									
				});
				
			showLoading: function() {
				e(".loading-modal").show()
			},
			hideLoading: function() {
				e(".loading-modal").hide()
			},
			doAjaxAddToCart: function(n, r, i, s) {
				e.ajax({
					type: "post",
					url: "/cart/add.js",
					data: "quantity=" + r + "&id=" + n,
   
					dataType: "json",
					beforeSend: function() {
						t.showLoading()
					}
                  ,
					success: function(n) {
                       
						t.hideLoading();
						// e(".ajax-success-modal").find(".ajax-product-title").text(i);
						// e(".ajax-success-modal").find(".ajax-product-image").attr("src", s);
						// e(".ajax-success-modal").find(".btn-go-to-cart").show();
						// t.showModal(".ajax-success-modal");
                       
					error: function(n, r) { 
						t.hideLoading();
						e(".error-message-stock").html(e.parseJSON(n.responseText).description);
						e('.error-message-stock').delay(300).slideDown(300);
  	                    e('.error-message-stock').delay(5000).slideUp(600);
                    
					}
				})
			},

					success: function(n) {
                       
						t.hideLoading();
						// e(".ajax-success-modal").find(".ajax-product-title").text(i);
						// e(".ajax-success-modal").find(".ajax-product-image").attr("src", s);
						// e(".ajax-success-modal").find(".btn-go-to-cart").show();
						// t.showModal(".ajax-success-modal");
					error: function(n, r) { 
						t.hideLoading();
						e(".error-message-stock").html(e.parseJSON(n.responseText).description);
						e('.error-message-stock').delay(300).slideDown(300);
  	                    e('.error-message-stock').delay(5000).slideUp(600);
                    
					}
				})
			},

      
		      
  
      	e(".cart-container .mini-products-list").html("");

				if (n.item_count > 0) {
					for (var i = 0; i < n.items.length; i++) {
						var s = r;
						var price = Shopify.formatMoney(n.items[i].price, window.formatMoney);
						s = s.replace(/\{ID\}/g, n.items[i].id);
						s = s.replace(/\{PRODUCT_ID\}/g, n.items[i].product_id);
						s = s.replace(/\{URL\}/g, n.items[i].url);
						s = s.replace(/\{TITLE\}/g, n.items[i].title);
						s = s.replace(/\{QUANTITY\}/g, n.items[i].quantity);
						s = s.replace(/\{IMAGE\}/g, Shopify.resizeImage(n.items[i].image, "small"));
						s = s.replace(/\{LINE_PRICE\}/g, Shopify.formatMoney(n.items[i].line_price, window.formatMoney));

						if (n.items[i].variant_options.length > 0 && n.items[i].variant_options[0] != null && n.items[i].variant_options[0] != 'Default Title') {
							price =  n.items[i].variant_options[0]  + ' | ' + price;
						} 

						s = s.replace(/\{PRICE\}/g, price);

						if (n.items[i].quantity == 1) {
							s = s.replace(/\{DISABLED\}/g, 'disabled');
						} else {
							s = s.replace(/\{DISABLED\}/g, '');
						}
						
						e(".cart-container .mini-products-list").append(s);

            // Update line item details in product page
            var line_quantity = e(".product-actions-" + n.items[i].product_id).find("#line-quantity");
            if (line_quantity.length > 0) {
              line_quantity[0].innerHTML = n.items[i].quantity;
            }
            var line_price = e(".product-actions-" + n.items[i].product_id).find("#line-price");
            if (line_price.length > 0) {
              line_price[0].innerHTML = Shopify.formatMoney(n.items[i].line_price, window.formatMoney);
            }

            // Remove links & buttons if line item is a freebie
            if (n.items[i].product_type == 'Freebie') {
              var element_id = '#cart-item-' + n.items[i].id;             
              sentinel.on(element_id, function(el) {
                $(el).find("a.btn-remove").remove();
                $(el).find(".btn-remove-cart").remove();
                $(el).find(".add-to-cart-quantity-cart").remove();
                $(el).find(".btn-add-cart").remove();
                $(el).find(".product-image").removeAttr('href');
                $(el).find(".product-name a").removeAttr('href');
              });
            }

            // Remove links & buttons if line item is a max-1 product
            Shopify.getProduct(n.items[i].handle, function(product) {
              if (product.tags.indexOf("Max-1") != -1) {
                var product_action_class = '.product-actions-' + product.id;              
                
                // Remove buttons in cart
                $(product_action_class + ' .cart-buttons-in-cart .btn-remove-cart').remove();
                $(product_action_class + ' .cart-buttons-in-cart .add-to-cart-quantity-cart').remove();
                $(product_action_class + ' .cart-buttons-in-cart .btn-add-cart').remove();

                // Set controls to disabled in product page
                $(product_action_class + ' #purchase #quantity').addClass('disabled').attr('disabled', 'disabled');
                $(product_action_class + ' #purchase #add-to-cart').addClass('disabled').attr('disabled', 'disabled');

                // Set controls to disabled in collection page
                $(product_action_class + ' .cart-buttons #quantity').attr('disabled', 'disabled');
                $(product_action_class + ' .cart-buttons .btn-add-to-cart').attr('disabled', 'disabled');
              }
            })
					}
				}

				t.checkItemsInDropdownCart();
				t.checkSpentAmount(n); 

        /* Plus button in cart event handler */
        if (e(".btn-add-cart").length > 0) {
         e(".btn-add-cart").on("click", function(n) {
           n.preventDefault();
           if (e(this).attr("disabled") != "disabled") {
             var r = e(this).closest("form");
             var i = e(r).attr("data-id");

             i = i.match(/\d+/g);
              
             if (window.ajax_cart) {                            
               e(".product-actions-" + i).submit();
             } else {
               var s = e(".product-actions-" + i + " select[name=id]").val();
                             
               if (!s) {
                                 
                 s = e(".product-actions-" + i + " input[name=id]").val()
               }
               var o = e(".product-actions-" + i + " input[name=quantity]").val();
               if (!o) {
                 o = 1
               }
                               
               var quantity = parseFloat(o) + parseFloat(1);
               var u = e(r).find(".product-title").text();
               var a = e(r).find(".product-grid-image img").attr("src");
               t.doAjaxUpdateCart(s, quantity, u, a)

               e(".product-actions-" + i + " input[name=quantity]").val(quantity);
             }           
           }
           return false;
         })
        }

        /* Remove button in cart event handler */
        if (e(".btn-remove-cart").length > 0) {
         e(".btn-remove-cart").click(function(n) {
           n.preventDefault();
           if (e(this).attr("disabled") != "disabled") {
             var r = e(this).closest("form");
             var i = e(r).attr("data-id");
                          
             i = i.match(/\d+/g);
             if (window.ajax_cart) {
                             
               e(".product-actions-" + i).submit();
             } else {
               var s = e(".product-actions-" + i + " select[name=id]").val();                            
               if (!s) {
                 s = e(".product-actions-" + i + " input[name=id]").val()
               }
                
               var o = e(".product-actions-" + i + " input[name=quantity]").val();
               if (!o) {
                 o = 1
               }

               var quantity = parseFloat(o) - parseFloat(1);
               var u = e(r).find(".product-title").text();
               var a = e(r).find(".product-grid-image img").attr("src");

               t.doAjaxUpdateCart(s, quantity, u, a)

               if (quantity < 1) {
                       e(this).parent().hide();
                   e(this).closest('form').find('.single-add-to-cart-button').show();
                   } else {
                     e(".product-actions-" + i + " input[name=quantity]").val(quantity);
                   }
             }           
           }
           return false;
         })
        }  
			},
			checkNeedToConvertCurrency: function() {                                                    
				return  window.show_multiple_currencies && Currency.currentCurrency != shopCurrency
			},
			convertToSlug: function(e) {
				return e.toLowerCase().replace(/[^a-z0-9 -]/g, "").replace(/\s+/g, "-").replace(/-+/g, "-")
			}
		}
        
	})(jQuery)

      function currenciesCallbackSpecial(id){ 
      jQuery(id).each(function() {
      jQuery(this).attr('data-currency-{{ shop.currency }}', jQuery(this).html());
    });
    Currency.convertAll(shopCurrency, Currency.cookie.read(), id, window.formatMoney);
  }
  
</script>
<style type="text/css">
.site-nav > li:first-child > a > span {
    color: white !important;
}
</style>