{% assign listing_cols = '1' %}
{% assign image_size = 'original' %}

{% if settings.display_hot_bundle_with_tabs == true %}
<div class="container">
  <div class="row"> 

    <!-- Start Hot Bundle Widget -->
    <div class="col-md-4 col-xs-12 hot-deal">
      <div class="widget widget__hot-product">  
        <div class="widget_header">
        </div>
        <div class="widget_content">
          <div class="product-listing product-listing__hot-product">
          <!-- Item -->
          {% assign handle = settings.hot-bundle_cat %}
          {% assign product = all_products[handle] %}
          {% assign date_now = 'now' | date:'%Y/%m/%d' %}      
            
            <div class="item">
              <div class="hot-label hot-top-left">Hot</div>
              {% include 'product-grid-item' with 'listing_cols' with 'image_size' %}     
              {% if settings.start_sale_date != blank and settings.end_sale_date != blank  %}
                <div class="box-timer">
                  <div class="timer-grid countbox_1" data-time="{{ settings.end_sale_date }}">
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hot Product Widget -->

    <!-- Start Tab Section Widget -->
    <div id="home-tab-section">    
      <div class="home-tab col-md-8 column col-xs-12">
        <div class="category-product">
          <ul class="nav home-nav-tabs home-product-tabs">
            <li> <div class="new_title center"> <h2><strong>{{ settings.home-tab-title }}</h2> </strong></div> </li>  

<!-- Display the tabs that are not empty -->
            {% if settings.tab-one-header != blank %}
              <li class="active"><a href="#home-tab-one" data-toggle="tab" aria-expanded="false">{{ settings.tab-one-header }}</a></li> 
            {% endif %}

            {% if settings.tab-two-header != blank %}
              <li class=""> <a href="#home-tab-two" data-toggle="tab" aria-expanded="false">{{ settings.tab-two-header }}</a> </li>
            {% endif %} 
            {% comment %} 
<!-- Bundle description --> 
              <li>
             <div class="bundle-description">
             {{ settings.bundle-description }}
             {{ settings.bundle-txt }}
             <br  />
             <p>
             {{ settings.bundle-item-1 }}
             <br  />
             {{ settings.bundle-item-2 }}
             <br  />
             {{ settings.bundle-item-3 }}
             </p>
             </div>
             </li>
<!-- End Bundle description -->
{% endcomment %}
          </ul>

          

          <div id="productTabContent" class="tab-content">

            <div class="tab-pane fade active in" id="home-tab-one">
            <div class="new_title left"> <h3>{{ settings.bundle-txt }}</h3></div>
              <div class="best-seller-pro">
                {% include 'bundle-tab-1' %}
              </div>
            </div>

            <div class="tab-pane fade" id="home-tab-two">
              <div class="new-arrivals-products-pro">
                {% include 'bundle-tab-2' %}   
              </div>
            </div>    

          </div>
        </div>
      </div>

       

    </div>
    <!-- End Tab Section Widget -->
  </div>
</div>
{% endif %}

<script type="text/javascript">
 //countdown js filter
jQuery('.timer-grid').each(function(){
    var countTime=jQuery(this).attr('data-time');
    jQuery(this).countdown(countTime,function(event){jQuery(this).html('<div id="box-discount" class="day box-time-date"><span class="number">{{ settings.hot_bundle_discount }}%</span>OFF!</div><div class="day box-time-date"><span class="number">'+event.strftime('%D')+' </span>days</div><div class="hour box-time-date"><span class="number">'+event.strftime('%H')+'</span>Hrs</div><div class="min box-time-date"><span class="number">'+event.strftime('%M')+'</span> MINS</div><div class="sec box-time-date"><span class="number">'+event.strftime('%S')+' </span>SEC</div>');});
});

jQuery(document).ready(function() {
	
	jQuery(".tab_content_best-seller").hide();
	jQuery(".tab_content_best-seller:first").show(); 

	jQuery("ul.tabs-best-seller li").click(function() {
		jQuery("ul.tabs-best-seller li").removeClass("active");
		jQuery(this).addClass("active");
		jQuery(".tab_content_best-seller").hide();
		var activeTab = $jq(this).attr("rel"); 
		jQuery("#"+activeTab).fadeIn(); 
	});
});

</script>

