<div id="wrapper" class="landingpagediv">
    <div class="container">
        <div class="col-sm-6">
            {{ request.myvar }}
            <div class="logo">
              <a id="logo" href="/">
                  <img
                      style='width:152px;height:40px'
                      src="{{ 'logo_landingpage.png' | asset_img_url: '518x136' }}"/>
              </a>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="container">
        <div class="col-sm-12 mobilepadding0">
            <center>
                <div class="bannercontainer">
                    <div class="top-banner"></div>
                    <h1 class="landingtitle">We've got you covered!</h1>
                    <h3 class="landingsubtitle">Fresh groceries at your fingertips!</h3>
                    <div class="formlocation text-left">
                        <div id="locationField">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div id="locationField">
                                <input
                                    id="autocomplete"
                                    placeholder="Enter your address"
                                    onfocus="geolocate()"
                                    type="text"
                                    class="form-control currentlocation"></input>

                                <button class="btn btn-success " id="getallprdt">
                                    Use address</button>
                            </div>
                        </div>
                        <h4 class="chooselocation">
                            Or use
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a href="javascript:" class="getlocation">current location</a>
                        </h4>
                        <p id='latitudeAndLongitude'></p>
                        <p id='address'></p>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#home">Markets</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>Select a market to start shopping!</h3>
                                <ul class="manualstore"></ul>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <h3>Select a market to start shopping!</h3>
                                <p>Some content in menu 1.</p>
                            </div>
                        </div>
                    </div>
                    <div class="formlocation text-center" style="margin-top:10px">
                        <div class="brand-header" style="margin-top:0px">
                            <span>HOW TO PLACE AN ORDER</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 box-image dot-five">
                              <img src="{{ 'order_step_1.png' | asset_img_url: '2667x2667' }}"/>
                              <span>Browse products<span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 box-image dot-five">
                              <img src="{{ 'order_step_2.png' | asset_img_url: '2667x2667' }}"/>
                              <span>Add to cart<span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 box-image dot-five">
                              <img src="{{ 'order_step_3.png' | asset_img_url: '2667x2667' }}"/>
                              <span>Pick delivery date and time slot<span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 box-image dot-five">
                              <img src="{{ 'order_step_4.png' | asset_img_url: '2667x2667' }}"/>
                              <span>Make payment<span>
                            </div>
                            <div class="clearfix visible-xs"></div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 box-image dot-five">
                              <img src="{{ 'order_step_5.png' | asset_img_url: '2667x2667' }}"/>
                              <span>Your groceries are delivered!<span>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="address" style="display: none;" class="landingpagepost">
                    <tr>
                        <td class="label">Street address</td>
                        <td class="slimField"><input class="field" id="street_number" disabled="true"></td>
                        <td class="wideField" colspan="2"><input class="field" id="route" disabled="true"></td>
                    </tr>
                    <tr>
                        <td class="label">City</td>
                        <!-- Note: Selection of address components in this example is typical. You may
                        need to adjust it for the locations relevant to your app. See
                        https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
                        -->
                        <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"></td>
                    </tr>
                    <tr>
                        <td class="label">State</td>
                        <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"></td>
                        <td class="label">Zip code</td>
                        <td class="wideField"><input class="field" id="postal_code" disabled="true"></td>
                    </tr>
                    <tr>
                        <td class="label">Country</td>
                        <td class="wideField" colspan="3"><input class="field" id="country" disabled="true"></td>
                    </tr>
                </table>
            </center>
        </div>
    </div>
</div>
<style type="text/css">
    .changestore .fa.fa-map-marker {
        float: left;
        position: relative;
        font-size: 16px;
        z-index: 999;
        color: #50a746;
        margin-left: 0;
        margin-right: 0;
        line-height: 40px;
        height: 40px;
        width: 40px;
        border-right: 1px solid #f1f1f1 !important;
        margin-top: -3px;
    }
    .seprater {
        display: inline-block;
        width: 1px;
        float: left;
        position: relative;
        left: 20px;
        top: 31%;
        font-size: 12px !important;
    }
    .landingpage {
        background: url("https://cdn.shopify.com/s/files/1/1030/8703/files/landing_page.jpg?17503839264410292677");
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 9999;
        background-size: cover;
        background-position: center;
    }
    .bannercontainer {
        max-width: 850px;
        padding-bottom: 40px;
    }
    .top-banner {
        background: url("{{ 'landing_page_top_banner.png' | asset_url }}");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 160px;
        margin-bottom: 20px;
    }
    .dot-five {
        width: 20%;
    }
    .box-image {
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-position: center !important;
        margin-top: 10px !important;
    }
    .box-image img {
        width: 80px;
        height: 80px;
    }
    .box-image span   {
        display: block;
        margin: 10px 0;
    }
    .landingtitle {
        font-size: 32px;
        line-height: 1.3;
        color: #fff;
    }
    .landingsubtitle {
        font-size: 22px;
        line-height: 1.6;
        margin: 10px 0;
        color: #fff;
    }
    .formlocation {
        background: #fff;
        padding: 2%;
    }
    #autocomplete {
        float: left;
        max-width: 84%;
        height: 40px;
        position: relative;
        padding-left: 30px;
    }
    .btn.btn-success {
        float: right;
        height: 40px;
    }
    #locationField {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    #locationField .fa.fa-map-marker {
        position: absolute;
        left: 10px;
        z-index: 9;
        top: 10px;
        font-size: 20px;
        color: green;
    }
    .manualstore li {
        display: inline-block;
        max-width: 32%;
        text-align: center;
        font-size: 15px;
    }
    .chooselocation {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
    }
    .manualstore li {
        display: inline-block;
        width: 30%;
        text-align: center;
        font-size: 15px;
        margin-right: 2%;
        background: #333;
        border-radius: 10px;
        color: #fff;
        padding: 10px 2%;
        cursor: pointer;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .manualstore span {
        line-height: 2px !important;
        font-size: 11px;
    }
    .manualstore {
        padding: 0;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .pac-container {
        z-index: 99999;
    }
    .hideall {
        display: none;
    }
    .showall {
        display: block !important;
    }
    #footer,
    .sitecontainers {
        display: none;
    }
    #getallprdt {
        font-size: 14px;
    }
    .changestore {
        float: left;
        margin-top: 10px;
        width: 170px;
        text-align: center;
        border: 2px solid #e0e0e0;
        border-radius: 6px;
        height: 44px;
        cursor: pointer;
        padding: 3px;
        position: relative;
    }
    .changestore span {
        font-size: 11px;
    }
    .changestore h3 {
        line-height: 1.4;
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }
    #myModal .landingsubtitle,
    #myModal .landingtitle {
        display: none;
    }
    #myModal .customfloat {
        float: none;
    }
    .sticky-topbar .changestore {

        background: #fff;
    }
    footer {
        float: left;
    }
    #sticky-topbar .changestore {
        width: 150px;
    }
    .changestore h3 {
        line-height: 2.7;
    }

    @media screen and (max-width: 479px) {
        .mm-page.mm-slideout.padding0high {
            margin-top: 0 !important;
        }
        .landingtitle {
            font-size: 23px;
        }
        .landingsubtitle {
            font-size: 17px;
        }
        #autocomplete {
            max-width: 57%;
        }
        .manualstore li {
            max-width: 48%;
            width: 48%;
        }
        .formlocation {
            padding: 4%;
        }
        .mobilepadding0 {
            padding: 0;
        }
        #logo {
            width: 100%;
            margin-top: 10px;
        }
        .mobilemenustore {
            font-size: 20px;
            color: #fff;
            max-width: 30px;
            float: right;
            margin-top: 12px;
            width: 30px !important;
            display: inline-block;
            cursor: pointer;
        }
        #myModal .modal-body {
            padding: 5px;
        }
        #sticky-mmenu {
            z-index: 999;
        }
        #myModal {
            z-index: 9999 !important;
        }
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        .mm-page.mm-slideout.padding0high {
            margin-top: 0 !important;
        }
        .landingtitle {
            font-size: 23px;
        }
        .landingsubtitle {
            font-size: 17px;
        }
        #autocomplete {
            max-width: 60%;
        }
        .manualstore li {
            max-width: 48%;
            width: 48%;
        }
        .formlocation {
            padding: 2% 3%;
        }
        .mobilepadding0 {
            padding: 0;
        }
        #logo {
            width: 100%;
            margin-top: 10px;
        }
        .mobilemenustore {
            font-size: 20px;
            color: #fff;
            max-width: 30px;
            float: right;
            margin-top: 12px;
            width: 30px !important;
            display: inline-block;
            cursor: pointer;
        }
        #myModal .modal-body {
            padding: 5px;
        }
        #sticky-mmenu {
            z-index: 999;
        }
        h1.landingtitle br {
            display: none;
        }
        .landingsubtitle {
            margin: 5px 0;
        }
        #logo {
            margin-top: 0;
        }
        #myModal {
            z-index: 9999 !important;
        }
    }
    @media only screen and (max-width:767px) {
        .top-banner {
            height: 100px;
        }
        .dot-five {
            width: 50%;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        h1.landingtitle br {
            display: block;
        }
        .landingsubtitle {
            margin: 10px 0;
        }
        .changestore {
            width: 113px;
            font-size: 11px;
        }
        .top-header {
            width: 115px;
        }

        .changestore h3 {
            line-height: 1.4;
            font-size: 12px;
        }
        .tile_cart {
            padding: 0 0 14px;
        }
        .tile_cart a {
            padding: 0 2px 0 0;
        }
        .tile_cart a .fa-shopping-cart {
            width: 25px;
            float: left;
        }
        .tile_cart a span {
            float: left;
            height: 30px;
            line-height: 3.4;
        }
        .tile_cart a span span.count {
            line-height: 40px;
        }
        .tile_cart a span.money {
            margin-left: 4px;
        }
        .tile_cart a span span.count {
            width: 20px;
        }
        #sticky-topbar .changestore {
            width: 113px !important;
        }

        .changestore h3 {
            line-height: 2.7;
        }
        .tile_cart a .fa-shopping-cart {
            margin-right: 0;
        }
        .changestore .fa.fa-map-marker {
            width: 30px;
        }
    }
    @media only screen and (min-width: 960px) and (max-width: 1024px) {
        .changestore {
            float: left !important;
        }
        .tile_cart {
            padding: 0 0 14px;
        }
        #autocomplete {
            max-width: 79%;
        }
        .mgk-top-cart {
            padding-right: 5px !important;
        }
        .changestore {
            width: auto !important;
        }

        .changestore span {
            font-size: 10px;
        }

        .tile_cart a {
            padding: 0 3px 0 0;
        }
        .tile_cart a .fa-shopping-cart {
            width: 30px;
        }
        .tile_cart a span span.count {
            width: 20px;
        }
        #sticky-topbar .changestore h3 {
            font-size: 14px;
        }
        .changestore .fa.fa-map-marker {
            width: 30px;
        }
        .changestore h3 {
            line-height: 2.7;
            float: left;
        }

    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".landingpagediv").css("min-height", $(window).height());
        if ($.cookie("PasarStoreName")) {
            $(".landingpagediv").remove();
        }

        showLoading();
        $(document).on("click", ".manualstore li", function () {
            var url = window.location.href;
            if (!$(this).parent("ul").hasClass("withemptycart")) {
                $.cookie("PasarStoreName", $(this).text());
                $.cookie("PasarStoreId", $(this).attr("data-id"));
                
                /* Send the value as a cart attribute via the AJAX API */
                $.ajax({
                    type: "POST",
                    url: '/cart.js',
                    data: { "attributes[market]": $(this).text() }, /* We are using an attribute named "market" */
                    success: function(d){
                        /* 
                        On sucess, reload the page.  
                        Warning: If you have scripts on the page that auto trigger the change even the page may reload forever.
                        If you do, be sure to add code to account for that.
                        */
                        window.location.href= url;
                    },
                    dataType: 'json'
                });
            }
        });
        $(document).on("click", ".getlocation", function () {

            var latitudeAndLongitude = document.getElementById("latitudeAndLongitude"),
                location             = {
                    latitude : '',
                    longitude: ''
                };
            if (navigator.geolocation) {
                navigator
                    .geolocation
                    .getCurrentPosition(showPosition);

            } else {
                alert("Geolocation is not supported by this browser.");
            }
            function showPosition(position) {
                location.latitude  = position.coords.latitude;
                location.longitude = position.coords.longitude;
                var geocoder = new google
                    .maps
                    .Geocoder();
                var latLng = new google
                    .maps
                    .LatLng(location.latitude, location.longitude);
                if (geocoder) {
                    geocoder.geocode({
                        'latLng': latLng
                    }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {

                            var addresnew = '';
                            for (var i = 0; i < results[0].address_components.length; i++) {
                                for (var b = 0; b < results[0].address_components[i].types.length; b++) {
                                    if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                                        addresnew += results[0]
                                            .address_components[i]
                                            .long_name;
                                    }
                                    if (results[0].address_components[i].types[b] == "postal_code") {
                                        addresnew += " " + results[0]
                                            .address_components[i]
                                            .long_name;
                                        $("#postal_code").val(results[0].address_components[i].long_name);
                                    }
                                    if (results[0].address_components[i].types[b] == "country") {
                                        addresnew += " " + results[0]
                                            .address_components[i]
                                            .long_name;
                                    }
                                }
                            }
                            //$('.autocomplete').val(results[0].formatted_address);
                            $('.currentlocation').val(addresnew);
                            //$('.autocomplete').val('Klang Selangor Malaysia');
                            $("#getallprdt").click();

                        } else {
                            alert(status);
                        }
                    }); //geocoder.geocode()
                }
            } //showPosition
        });

        $(document).on("click", "#getallprdt", function () {
            $(".nostoremsg").remove();
            var tag = $("#autocomplete").val();
            var postcode = $("#postal_code").val();

            if (postcode != '') {
                $.ajax({
                    data    : {
                        shop_id: "1"
                    },
                    dataType: "json",
                    success : function(response) {
                        console.log(response);
                        
                        if (response.data != null) {
                            var storelist = '';
                            {% comment %} if (response.slot != 'No') {
                                var timeslot = 'Next available slot ' + response.slot;
                                $(".changestore")
                                    .find("span")
                                    .html(timeslot);
                            } else {
                                var timeslot = '';
                            } {% endcomment %}

                            var timeslot = '';
                            storelist = '<li data-id=' + response.data.market_id + '><strong>' + response.data.market_name + '</strong><br><span>' +
                                        timeslot + '</span></li>';

                            console.log(storelist);
                            $(".manualstore").html(storelist);
                            $("ul.manualstore li:first-child").click();
                        } else {
                            var msgnostore = 'Sorry, PasarTap does not provide service at this location. Please select a mar' +
                                    'ket below to continue browsing our products.';
                            $(".manualstore").before(
                                "<p class='nostoremsg'><strong>" + msgnostore + "</strong></p>"
                            );
                        }
                    },
                    type    : "GET",
                    url     : "https://pt-deliveries.herokuapp.com/api/postcode/" + postcode
                });
            } else {
                var msgnostore = '<br>Sorry, your location could not be determined. Please select a market manua' +
                            'lly below.';
                $(".manualstore").before(
                    "<p class='nostoremsg'><strong>" + msgnostore + "</strong></p>"
                );
            }

            {% comment %} if (tag != '') {
                $.ajax({
                    data    : {
                        shop_id: "1"
                    },
                    dataType: "json",
                    success : function (response) {
                        console.log(response);
                        
                        if (response.data.length > 0) {
                            var storelist = '';
                            {% comment %} if (response.slot != 'No') {
                                var timeslot = 'Next available slot ' + response.slot;
                                $(".changestore")
                                    .find("span")
                                    .html(timeslot);
                            } else {
                                var timeslot = '';
                            } {% endcomment %}

                            storelist = '<li data-id=' + response.data.market_id + '><strong>' + response.data.market_name + '</strong><br><span>' +
                                        timeslot + '</span></li>';

                            console.log(storelist);
                            $(".manualstore").html(storelist);
                            {% comment %} if (total == 1) {
                                $("ul.manualstore li:first-child").click();
                            } {% endcomment %}
                        } else {
                            var msgnostore = 'Sorry, PasarTap does not provide service at this location. Please select a mar' +
                                    'ket below to continue browsing our products.';
                            if (postcode == '') {
                                msgnostore = '<br>Sorry, your location could not be determined. Please select a market manua' +
                                        'lly below.';
                            }
                            $(".manualstore").before(
                                "<p class='nostoremsg'><strong>" + msgnostore + "</strong></p>"
                            );
                            {% comment %} var storelist = '';
                            if (response.slot != 'No') {
                                var timeslot = 'Next available slot ' + response.slot;
                                $(".changestore")
                                    .find("span")
                                    .html(timeslot);
                            } else {
                                var timeslot = '';
                            }
                            $.each(response.data, function (i, item) {
                                storelist += '<li data-id=' + item.id + '><strong>' + item.market + '</strong><br><span>' +
                                        timeslot + '</span></li>';
                            });
                            console.log(storelist);
                            $(".manualstore").html(storelist); {% endcomment %}
                        }
                    },
                    type    : "GET",
                    url     : "https://pt-deliveries.herokuapp.com/api/postcode/" + postcode
                });
            } {% endcomment %}
        });

        if ($("input[type='hidden'][name='market']").val() == '' && $.cookie('PasarStoreName') != undefined) {
            $("input[type='hidden'][name='market']").val($.cookie('PasarStoreName'))
        }
    });
    $(window).load(function () {

        // Get next available timeslots
        var now = new Date(Date.now());
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var hours = ("0" + now.getHours()).slice(-2);
        var minutes = ("0" + now.getMinutes()).slice(-2);

        var date = now.getFullYear() + '-' + month + '-' + now.getDate();
        var formattedDateTime = date + "/" + hours + minutes;

        $.ajax({
            dataType: "json",
            success : function (response) {
                {% comment %} if (response.slot != 'No') {
                    var timeslot = 'Next available slot: ' + response.slot;
                    $(".changestore")
                        .find("span")
                        .html(timeslot);
                } else {
                    var timeslot = '';
                } {% endcomment %}

                var timeslot = '', storelist = '';                
                $.each(response.data, function (i, item) {
                    storelist += '<li data-id=' + item.id + '><strong>' + item.market_name + '</strong><br><span>' +
                            timeslot + '</span></li>';
                    $(".coll-filter option").each(function () {
                        if (this.text == item.market_name) {
                            $(this).remove();
                        }

                    });
                });
                //console.log(storelist);
                $(".manualstore").html(storelist);
            },
            type    : "GET",
            url     : "https://pt-deliveries.herokuapp.com/api/markets/1"
        });

        if ($.cookie('PasarStoreName') == undefined) {
            $(".sitecontainers").addClass("hideall");
            $("#footer").addClass("hideall");
            $(".landingpage").addClass("showall");
            $("#sticky-mmenu").addClass("hideall");
            $(".mm-page").addClass("padding0high");
            $("#myModal").remove();
            $(".innerpagepost").remove();
        } else {
            $(".sitecontainers").addClass("showall");
            $(".landingpage").addClass("hideall");
            $("#footer").addClass("showall");
            $("#sticky-mmenu").addClass("showall");
            $(".landingpagepost").remove();
        }

        if ($.cookie('PasarStoreName') != undefined) {
            $(".changestore")
                .find("h3")
                .text($.cookie('PasarStoreName'));
            $(".locationname")
                .find("strong")
                .text($.cookie('PasarStoreName'));
        }

        hideLoading();
    });
    function showLoading() {
        $(".loading").show();
    }
    function hideLoading() {
        $(".loading").hide();
    }
    function reload_collection() {
        var collectionurl = window.location.href;
        var addtg = $
            .trim($.cookie('PasarStoreName'))
            .toLowerCase()
            .replace(/\s+/g, "-");

        if (collectionurl.indexOf(addtg) != -1) {
            console.log("found");
        } else {
            window.location.href = collectionurl + "/" + addtg;
        }

    }
    {% if  template == 'collection' %}
        reload_collection();
    {% endif %}
</script>
