{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% assign productIndex = forloop.index |minus:1 %}

<div class="grid-item product-item {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}" id="product-{{ product.id }}">
  <a href="{{ product.url | within: collection }}" class="product-grid-image">
    <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>
    
  
  
  <div class="details">
    <a class="product-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    <div class="price-box">
      {% if on_sale %}
        <p class="sale">
          <span class="old-price"> {{ product.compare_at_price_min | money }}</span>
          <span class="special-price">{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
        </p>
        {% else %}
        <p class="regular-product">
          {% comment %}
            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
            if your variants have different prices.
          {% endcomment %}
          <span >{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
        </p>
        {% endif %}
    </div>
    <div class="action">
      {% assign variantCount = product.variants | size %}
      <form action="/cart/add" method="post" class="variants" id="product-actions-{{ product.id }}" enctype="multipart/form-data" style="padding:0px;">    
        {% if sold_out %}
        <input class="btn add-to-cart-btn" type="submit" value="Unavailable" disabled="disabled" />
        {% else %}
        {% if variantCount > 1 %}    
        <input class="btn" type="button" onclick="window.location.href='{{product.url}}'" value="Select options" />
        {% else %}
        <input type="hidden" name="id" value="{{ product.variants[0].id }}" />      
        <input class="btn add-to-cart-btn" type="submit" value="Add to Cart" />
        {% endif %}
        {% endif %}
      </form>
    </div>
  </div>
</div>