<div id="order-delivery">  
    <h3 class="heading--add-small">DELIVERY DATE & TIME</h3>      
    <div id="order-delivery-form-wrapper" class="clearfix">
        <p class="cart-total__info clearfix">When would you like your order delivered?</p>
        <div>
            <input id="datepicker" class="form-control pt-date" type="text" name="attributes[delivery_date]" value="{{ cart.attributes.delivery_date }}" placeholder="Date" readonly="readonly" />
            <select class="form-control pt-time" name="attributes[delivery_time]" value="{{ cart.attributes.delivery_time }}" style="display:none;"></select>
            <input type="hidden" id="max_1_check">
        </div> 
    </div> 
</div> 

<script>
/* Datepicker initialization */
/* ------------------------- */
// Set query parameters 
var currentDate = new Date();
var currentHours = currentDate.getHours().toString();
var currentMinutes = currentDate.getMinutes().toString();

if (currentHours < 10) {
  currentHours = '0' + currentHours;
}
if (currentMinutes < 10) {
  currentMinutes = '0' + currentMinutes;
}
var currentTime = currentHours + currentMinutes;

$(document).ready(function(){

    // Get timeslots
    if ($.cookie("PasarStoreName")) {
        $.ajax({
            url: 'https://pt-deliveries.herokuapp.com/api/timeslots',
            type: "GET",
            data: {
                    shop_id: window.location.href.indexOf('dev') != -1 ? 0 : 1,
                    market_name: $.cookie("PasarStoreName"),
                    time: currentTime
                },
            dataType: "json",
            success: function(response) {
                initDatePicker(response); 
                loadTimeslots(response.timeslots);
            }  
        });
    }  

    // Toggle checkout button enablement when timeslot is changed
    $('.pt-time').change(function(){
        toggleCheckoutButton();
    }); 
});

function initDatePicker(response){  
    $( "#datepicker" ).datepicker({
        startDate: new Date(), 
        dateFormat: "D, dd/mm/yy",
        minDate: response.min_date,
        maxDate: 21,
        firstDay: 1 ,
        beforeShowDay: function(date){
            var dayId = date.getDay();
            var dateString = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [ response.blackout_days.indexOf(dateString) == -1 && response.inactive_days.indexOf(dayId) == -1 ]    
        },
        onSelect: function(dateText, inst) {  
            // Get timeslots
            var appurl = 'https://pt-deliveries.herokuapp.com/api/timeslots/';
            var date = $.datepicker.parseDate(inst.settings.dateFormat || $.datepicker._defaults.dateFormat, dateText, inst.settings);
            var day = $.datepicker.formatDate("DD", date, inst.settings);
            var date = $.datepicker.formatDate("y-mm-dd", date, inst.settings);  
            
            let currentDate = new Date();
            let currentHours = currentDate.getHours().toString();
            let currentMinutes = currentDate.getMinutes().toString();

            if (currentHours < 10) {
                currentHours = '0' + currentHours;
            }
            if (currentMinutes < 10) {
                currentMinutes = '0' + currentMinutes;
            }
            let currentTime = currentHours + currentMinutes;  

            $.ajax({
                url: appurl + day,
                type: "GET",
                data: { 
                        shop_id: window.location.href.indexOf('dev') != -1 ? 0 : 1,
                        market_name: $.cookie("PasarStoreName"),
                        date: date,
                        time: currentTime
                    },
                dataType: "json",
                success: function(response) {   
                    let today = moment(new Date()).format("YY-MM-DD"); 
                    let tomorrow  = moment(new Date()).add(1,'days').format("YY-MM-DD"); 
                    let cutoffTime = '2100';

                    {% if cart.attributes.market == "Bayan Baru" and settings.slot1-cutoff-time-bayan_baru != blank %}
                        cutoffTime = {{ settings.slot1-cutoff-time-bayan_baru }}
                    {% elsif cart.attributes.market == "Chow Kit" and settings.slot1-cutoff-time-chow_kit != blank %}
                        cutoffTime = {{ settings.slot1-cutoff-time-chow_kit }}
                    {% elsif cart.attributes.market == "Serdang" and settings.slot1-cutoff-time-serdang != blank %}
                        cutoffTime = {{ settings.slot1-cutoff-time-serdang }}
                    {% endif %}
                    
                    if ((currentTime < '1000' && date == today) || (currentTime > cutoffTime && date == tomorrow)) {
                        response.splice(0, 1);
                    }

                    loadTimeslots(response, currentTime, date);
                }
            });
        }
    }).position({
        my: "left top",
        at: "left bottom",
        of: $("#datepicker"),
        collision: "none"
    });
}

function loadTimeslots (timeslots, currentTime, selectedDate) {
    $(".pt-time").hide();
    $(".pt-time option").remove();
    $(".pt-time").append("<option >Timeslot</option>" );

    $.each(timeslots, function( index, timeslot ) { 
        $(".pt-time").append("<option >" + timeslot + "</option>" );
    });
    
    $(".pt-time").show();
    $('.btn-checkout').attr('disabled', 'disabled'); 
}

function toggleCheckoutButton () {
    $('.btn-checkout').attr('disabled', 'disabled');   
        
    if ($('.pt-date').val() !== '' && $('.pt-time').is(":visible") && $('.pt-time').val() !== 'Timeslot') {
        $('.btn-checkout').removeAttr('disabled'); 
    } 

    // Check if cart total has reached the order minimum
    {% assign order_minimum = "0" %}
    {% if cart.attributes.market == "Bayan Baru" and settings.order_minimum-bayan_baru != blank %}
        {% assign order_minimum = settings.order_minimum-bayan_baru %}
    {% elsif cart.attributes.market == "Chow Kit" and settings.order_minimum-chow_kit != blank %}
        {% assign order_minimum = settings.order_minimum-chow_kit %}
    {% elsif cart.attributes.market == "Serdang" and settings.order_minimum-serdang != blank %}
        {% assign order_minimum = settings.order_minimum-serdang %}
    {% endif %}

    var totalPrice  = parseFloat(document.querySelector('.money').innerHTML.replace('RM', ''));        
    var order_minimum = parseFloat({{ order_minimum }}).toFixed(2);

    if (totalPrice < order_minimum) {
        $('.btn-checkout').attr('disabled', 'disabled');   
    } 
}
</script>