{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}

<section class="recently-viewed-products">
  {% if settings.recently_viewed_products_title != '' %}
  <h2>{{ settings.recently_viewed_products_title }}</h2>
  {% endif %}
  <div class="products-grid" id="recently-viewed-products-grid">
  </div>
</section>

{% raw %}
<script id="recently-viewed-product-grid-template"  type="text/x-jquery-tmpl">
{% endraw %}
<div class="{% if settings.prouduct_item_no_hover%}product-item-no-hover{% endif %}  {% if settings.product_image_border%} grid-item-border {% endif %} {% if settings.product_image_crop%} crop_image {% else %} no_crop_image {% endif %} grid-item product-item {% raw %} {{if !available}} sold-out {{/if}} {{if compare_at_price_min > price_min}} on-sale {{/if}}"  id="product-${id}">
  <div class="product-top">
	<div class="product-image">
		<a href="${url}" class="product-grid-image">
		  <img src="${Shopify.Products.resizeImage(featured_image, "large")}" alt="${featured_image.alt}"/>
          <div class="hover"></div>
		</a>
        <div class="product-label">
          {{if compare_at_price_min > price_min}} 
               <strong class="label">Sale</strong>
          {{/if}}
          {{if !available}} 
             <strong class="sold-out-label">Sold Out</strong>
          {{/if}}
        </div>
	</div>
  </div>
  
  <div class="product-bottom">
    <a class="product-title" href="${url}">${title}</a>	
    <span class="shopify-product-reviews-badge" data-id="${id}"></span>
    
	<div class="price-box">   
	{{if compare_at_price_min > price_min}} 
	  <p class="sale">
	    <span class="old-price"> {{html Shopify.formatMoney(compare_at_price_min, window.money_format)}}</span>
	    <span class="special-price">{{if price_varies}}<em>from </em>{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
  	  </p>
	{{else}}
	  <p class="regular-product">
	  	<span >{{if price_varies}}<em>from </em>{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
	  </p>
	{{/if}}
	</div>
    
    <div class="action">
      <form action="/cart/add" method="post" class="variants" id="product-actions-${id}" enctype="multipart/form-data" style="padding:0px;">    
        {{if !available}} 
        <input class="btn add-to-cart-btn" type="submit" value="Unavailable" disabled="disabled" />
        {{else variants.length > 1 }}
        <input class="btn" type="button" onclick="window.location.href='${url}'" value="Select options" />
        {{else}}
        <input type="hidden" name="id" value="${variants[0].id}" />      
        <input class="btn add-to-cart-btn" type="submit" value="Add to Cart" />
        {{/if}}
      </form>
    </div>    
  </div>
</div>
</script>
{% endraw %}

<script>
Shopify.Products.showRecentlyViewed({ 
  howManyToShow: {{ settings.number_of_recently_viewed_products }}, 
  wrapperId: 'recently-viewed-products-grid', 
  templateId: 'recently-viewed-product-grid-template',
  onComplete: function() {
    if (jQuery("#recently-viewed-products-grid").children().length > 0) {
  	  jQuery(".recently-viewed-products").show();
  	  if (window.product_image_resize) {
          jQuery('#recently-viewed-products-grid img').fakecrop({ 
            fill: window.images_size.is_crop,
            widthSelector: ".products-grid .product-image",
            ratioWrapper: window.images_size
          });
  	  }
  
  	  if (window.show_multiple_currencies) {
         Currency.convertAll(window.shop_currency, jQuery('#currencies').val(), 'span.money', 'money_format');
      }
  
      jQuery("#recently-viewed-products-grid").owlCarousel({
        autoPlay: 8000,     
        scrollPerPage: true,
        slideSpeed: 500,
        stopOnHover: true,     
        navigation: true,
        itemsTablet: [767,3],
        itemsTabletSmall: [721,2]
      });
      if (jQuery(".spr-badge").length>0) {
          return window.SPR.registerCallbacks(), window.SPR.initRatingHandler(), window.SPR.initDomEls(), window.SPR.loadProducts(), window.SPR.loadBadges();
      }
    }    
  }
});
</script>