{% if settings.display_breadcrumbs %}
  {% if settings.display_breadcrumbs != blank %}
<div id="breadcrumb">
  <div class="container">
  <ul class="breadcrumb">
    <li><a href="/" class="homepage-link" title="Back to the frontpage">Home</a><span class="divider">/</span></li>
    {% if template contains "product" %}
      {% if collection %}            
        {% if collection.handle %}
           <li class="collection-link" >{% capture url %}/collections/{{ collection.handle }}{% endcapture %}
           {{ collection.title | link_to: url }} <span class="divider">/</span></li>
        {% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}
           <li class="collection-link" >{{ collection.title | link_to_type }} <span class="divider">/</span></li>
        {% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}
           <li class="collection-link" >{{ collection.title | link_to_vendor }} <span class="divider">/</span></li>
        {% endif %}
      {% else %}
        <li>{{ product.type | link_to_type }}<span class="divider">/</span></li>  
      {% endif %}
    <li> <span class="page-title">{{ page_title }}</span></li>
    {% elsif template == "article" %}
        <li>{{ blog.title | link_to: blog.url }} <span class="divider">/</span></li>
        <li><span class="page-title">{{ page_title }}</span></li>
    {% elsif template contains "collection" %}
        {% if current_tags.size > 0 %}
          <li>{{ collection.title | link_to: collection.url }} <span class="divider">/</span></li>
          <li><span class="page-title">{{ current_tags.first }}</span></li>
        {% else %}
          <li><span class="page-title">{{ page_title }}</span></li>
        {% endif %}
    {% elsif template contains "search" %}
        <li><span class="page-title">Search</span></li>
    {% elsif canonical_url contains "help" %}
        <li><span class="page-title">Help</span></li>
    {% elsif canonical_url contains "customr" %}
        <li><span class="page-title">Account</span></li>
    {% else %}
        <li><span class="page-title">{{ page_title }}</span></li>
    {% endif %}
  </ul>
</div>
  </div>
 {% endif %}
 {% endif %}