<div id="sticky-topbar" class="sticky-topbar" style="display:none">
    <div id="top-bar" class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-block">
                <!-- Header Logo -->             
                {% if settings.use_custom_logo %} 
                    <a id="logo" href="/"> <img style="width:190px;height:53px;" src="{{ 'logo_white_custom.png' | asset_img_url: '2048x575' }}" /> </a>
                {% else %} 
                    <a id="logo" href="/"> <img style="width:190px;height:53px;" src="{{ 'logo_white.png' | asset_img_url: '2048x575' }}" /> </a>
                {% endif %}   
                <!-- End Header Logo -->
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 search-block">
                <div class="search-section"> {% if settings.display_search %} {% if settings.display_search != blank %}
                    <div class="tile_search trs_bg">
                        <!-- search form -->
                        <form id="search_top" class="search-form" action="/search" method="get">
                            <input id="search-field" type="text" name="q" placeholder="{{ settings.search_placeholder }}" />
                          <input type="hidden" name="market" value='{{keyAndValue}}' />  
                          <button type="submit" title="Search" class="search-btn-bg" id="submit-button" onclick="javascript:document.getElementById('search_top').submit();"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </div>
                    {% endif %} {% endif %} </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mgk-top-cart">
               <div class="changestore">
                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                
            <h3>{{keyAndValue}}</h3>
          </div>
            </div>
        </div>
    </div>
</div>