<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="120" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Open Graph data -->
  <meta property="og:title" content="PasarTap | Go Fresh & Local" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.pasartap.com/" />
  <meta property="og:image" content="https://cdn.shopify.com/s/files/1/1030/8703/t/111/assets/slide_2_image.jpg?3611956502698181729" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="500" />
  <meta property="og:description" content="Don't know where to buy fresh groceries? Leave it to us, your friendly Pasar experts!" />
  {% comment %}<meta property="fb:app_id" content="app_id" />{% endcomment %}

  {{ content_for_header }}

  <!-- CrazyEgg ================================================== -->
  <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0069/3970.js" async="async"></script>
  
  {{ 'bootstrap.css' | asset_url | stylesheet_tag }} 
  {{ 'assets.css' | asset_url | stylesheet_tag }} 
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'theme-setting.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {{ 'quick_view.css' | asset_url | stylesheet_tag }} 
  {{ 'flexslider.css' | asset_url | stylesheet_tag }} 
  {{ 'revslider.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.mhead.css' | asset_url | stylesheet_tag }}  
  {{ 'jquery.mmenu.all.css' | asset_url | stylesheet_tag }}  
  {{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/redmond/jquery-ui.css' | stylesheet_tag }}
  {{ 'pasartech.css' | asset_url | stylesheet_tag }}  

  {{ '//fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800' | stylesheet_tag }}
  {{ '//fonts.googleapis.com/css?family=Raleway:400,300,600,500,700,800' | stylesheet_tag }}
  {{ '//fonts.googleapis.com/css?family=Montserrat:400,700' | stylesheet_tag }}
  {{ '//fonts.googleapis.com/css?family=Cabin+Sketch:bold&v1' | stylesheet_tag }}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="{{ 'favicon.png' | asset_url }}" rel="icon" type="image/x-icon" />
  {{ settings.heading_custom_font_code }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  {{ 'ie8.css' | asset_url | stylesheet_tag }}
  <![endif]-->

  <!--[if gte IE 8]>
  <style type="text/css">.header_tiles ul.header_tiles-1 li.tile_currency select {padding: 0 0 0 8px !important;}</style>
  <![endif]-->

  <!--[if gte IE 9]>
  <style type="text/css">
  .gradient {
  filter: none;
  }
  </style>
  <![endif]-->

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js' | script_tag }}
  {{ '//cdn.rawgit.com/muicss/sentineljs/0.0.4/dist/sentinel.min.js' | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'bootstrap.min.js'  | asset_url | script_tag }}
  {{ 'jquery-migrate-1.2.1.min.js'  | asset_url | script_tag }}
  {{ 'device.min.js' | asset_url | script_tag }}
  {{ 'jquery.nivoslider.js' | asset_url | script_tag }}
  {{ 'jquery.easing.1.3.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | asset_url | script_tag }}

  {{ 'hoverIntent.js' | asset_url | script_tag }}
  {{ 'superfish.js' | asset_url | script_tag }}
  {{ 'supersubs.js' | asset_url | script_tag }}
  {{ 'jquery.mobilemenu.js' | asset_url | script_tag }}
  {{ 'jquery.brezza.js' | asset_url | script_tag }}
  {{ 'sftouchscreen.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox-1.3.4.js' | asset_url | script_tag }}
  {{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
  {{ 'jquery.caroufredsel.min.js' | asset_url | script_tag }}
  {{ 'jquery.mousewheel.js' | asset_url | script_tag }}
  {{ 'jquery.selectik.min.js' | asset_url | script_tag }}
  {{ 'owl.carousel.js' | asset_url | script_tag }}
  {{ 'flexslider.js' | asset_url | script_tag }}
  {{ 'totop.js' | asset_url | script_tag }}
  {{ 'jquery.mhead.js' | asset_url | script_tag }}
  {{ 'jquery.mmenu.all.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.min.js' | asset_url | script_tag }}
  {{ 'autosize.min.js' | asset_url | script_tag }}
  {{ 'pasartech.js' | asset_url | script_tag }}

  {% include 'sca-quick-view-init' %}
  {% include 'rfq_script' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <div id="wrapper"> 
    {% assign customer_tags = customer.tags | downcase %}
    <!-- header -->
    {% if customer and customer_tags contains 'wholesale' %}
      {% include 'header-wholesale' %}
    {% else %}
      {% include 'header' %}
    {% endif %}  
    <div class="quick-view"></div>

    <!-- main content -->
    <!-- IF frontpage -->    
    {% if page == pages.frontpage %} 
      <!-- slider -->    
      {% if customer and customer_tags contains 'wholesale' %}
      {% else %}
        {% include 'home-slider' %} 
      {% endif %}

      <div id="main_content" class="col-main col-sm-12 col-sm-push-3-{{ content_width }}"> 
      {% if template == 'collection' %}
        {% include 'collection.list' %}
      {% else %}
        {{ content_for_layout }}
      {% endif %} 
      </div>
    {% endif %} 
    
    <!-- IF NOT frontpage -->         
    {% if template != 'index' %}
      {% if settings.enable_breadcrumbs %}
        <div class="breadcrumbs">{% include 'snippet-breadcrumbs' %}</div>
      {% endif %}
      <div id="main" class="container" role="main">
        <div class="row"> 
          {% case template %}
            {% when 'index' %}
              {% assign width_sidebars = false %} 
            {% when 'page.homepage' %}
              {% assign width_sidebars = false %} 
            {% when 'page.noasides' %}
              {% assign width_sidebars = false %}
            {% when 'product' %}
              {% assign width_sidebars = false %}
            {% when 'customers/register' %}
              {% assign width_sidebars = false %} 
            {% when 'customers/login' %}
              {% assign width_sidebars = false %}
            {% when 'page.contact' %}
              {% assign width_sidebars = false %}
            {% when 'customers/account' %}
              {% assign width_sidebars = false %}
            {% when 'customers/addresses' %}
              {% assign width_sidebars = false %}
            {% when 'cart' %}
              {% assign width_sidebars = false %}
            {% when 'page' %}
              {% assign width_sidebars = false %}
            {% when 'page.wishlist' %}
              {% assign width_sidebars = false %} 
              {% when 'page.qoutation' %}
              {% assign width_sidebars = false %} 
            {% else %}
              {% assign width_sidebars = true %}
          {% endcase %} 
        
          <!-- left column --> 
          {% if settings.enable_left_sidebar %}
            {% if width_sidebars == true %}
              <div id="aside-left" class=" col-sm-{{ settings.left_sidebar_width }} column"> 
                {% if blog %}
                  {% include 'recent-post' %}
                {% endif %} 
                {% if blog %}
                {% else %} 
                  {% include 'sidebar-nav' %}
                  {% include 'collection-filter' %}
                {% endif %} 
                
                {% include 'widget-types' %}
                {% include 'best-seller-single' %}
                {% include 'widget-banner' %}
                {% include 'widget-cms-block' %} 
              </div>
            {% endif %} 
          {% endif %}
        
          {% if width_sidebars == true %}
            {% assign content_width = settings.content_width %}
          {% else %}
            {% assign content_width = 12 %}
          {% endif %} 
        
          <!-- center column -->
          <div id="main_content" class="col-main col-sm-{{ content_width }}"> 
            <!-- collection-header --> 
            {% if collection.handle == 'all' %}
              {% include 'collection-header' %} 
            {% endif %}
            
            {% if template == 'list-collections' %}
              {% include 'collection.list' %}
            {% else%}
              {% if template == 'wholesale' %}
                {% if customer and customer_tags contains 'wholesale' %}
                  {{ content_for_layout }}
                {% else %}
                  {% include 'wholesale-note' %}
                {% endif %}
              {% else%}
                {% if customer and customer_tags contains 'wholesale' %}
                  {% if template == 'collection' %}
                    {% include 'regular-customer-note' %}           
                  {% else %}
                    {{ content_for_layout }}
                  {% endif %}
                {% else %}
                    {{ content_for_layout }}
                {% endif %}
              {% endif %}
            
            {% endif %} </div>
        
          <!-- right column --> 
          {% if settings.enable_right_sidebar %}
            {% if width_sidebars == true %}
              <div id="aside-right" class="col-sm-{{ settings.right_sidebar_width }} column"> 
                {% if blog %}
                  {% include 'recent-post' %}
                {% endif %} 
                
                {% if blog %}
                {% else %} 
                  {% include 'sidebar-nav' %}
                  {% include 'collection-filter' %}
                {% endif %} 
                
                {% include 'widget-types' %}
                {% include 'best-seller-single' %}
                {% include 'widget-banner' %}
                {% include 'widget-cms-block' %} 
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  
    {% comment %}Shopify does not support Internet Explorer 6.{% endcomment %} 
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->   
  </div>
  <!-- end of #wrapper --> 

  {% if page == pages.frontpage %}  
    {% include 'homepage-instagram' %} 
  {% endif %}

  <!-- service block --> 
  {% if customer and customer_tags contains 'wholesale' %}
    {% include 'footer' %}
  {% else %}
    {% include 'footer' %}
  {% endif %}  
  
  {% include 'newsletter-popup' %}
  {% include 'snippet-currencies' %} 
  {% include 'popup' %}

  <script type="text/javascript">
  $(document).ready(function(){
    $('.custom-select').selectik();
  });
  </script>

  <div class="cart_popup"><i class="icon-ok"></i> &nbsp; Product Added to Cart</div>
  <div class="error-message-stock"> You can only add </div>
  <div class="wishlist_popup"><i class="icon-ok"></i> &nbsp; Product Added to Wishlist</div>
  {{ 'shop.js'  | asset_url | script_tag }}

  {% include 'rw-js' %} 

  <script>
  jQuery(function() {
    jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(this).val();
    jQuery(this)
    .closest('form')
    .find('.single-option-selector')
    .eq(optionIndex)
    .val(optionValue)
    .trigger('change');
    });
  });
  </script> 

  
  {% include 'linked-options' %}
  {% include 'search-autocomplete' %}
</body>
</html>

{% include 'sca-quick-view-template' %}